<h1>Lista de categorias:</h1>
<hr>
<a class="btn btn-primary btn-md" routerLink="./add" role="button"> Nova categoria </a>

<ng-container *ngIf="categorias && categorias.length else erro">
  <div class="card mt-4" *ngFor="let categoria of categorias">
    <div class="card-body d-flex flex-column">
      <h4>{{categoria.nome}}</h4>
      <small><strong>Slug:</strong> {{categoria.slug}}</small>
      <small><strong>Data de criação:</strong> {{categoria.data | date: 'dd/MM/yyyy'}}</small><br>
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-success" routerLink="./edit/{{categoria._id}}">Editar categoria</button>
        <button type="button" class="btn btn-danger" (click)="delCategoria(categoria._id, categoria.nome)">Excluir categoria</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #erro>
  <div class="text-center">Nenhuma categoria cadastrada</div>
</ng-template>